{% extends "layout.html" %}

{% block content %}
<h2>Available Events</h2>

{% if events %}
    <div class="events-list">

        {% for event in events %}
            <div class="event-card">

                

                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
                {% endif %}

                <h3>{{ event.title }}</h3>

                <p>
                    <strong>Organiser:</strong>
                    {{ event.organiser.user}}
                </p>

                <p>
                    <strong>Created:</strong>
                    {{ event.created_at|date:"M d, Y" }}
                </p>

                <div class="event-actions">

                    {# ---------------- PUBLIC USER ---------------- #}
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}?next={% url 'public-events' %}" class="btn">
                            Log in to request booking
                        </a>

                    {# ---------------- AUTHENTICATED ---------------- #}
                    {% else %}

                        {# -------- ARTIST -------- #}
                        {% if user.role == "ARTIST" %}
                            <form method="post" action="{% url 'book-event' event.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    Request Booking
                                </button>
                            </form>

                        {# -------- ORGANISER -------- #}
                        {% elif user.role == "ORGANISER" %}
                            <span class="muted">
                                You are the organiser
                            </span>
                        {% endif %}

                    {% endif %}

                </div>
            </div>
        {% endfor %}

    </div>

{% else %}
    <p>No events available at the moment.</p>
{% endif %}

{% endblock %}
